@media only screen and (min-width:641px) {
  [class*=am-u-] {
    padding-left:0!important;
    padding-right:0!important;
  }
}
[class*=am-u-]+[class*=am-u-]:last-child {}

.am-slider-default .am-control-nav{bottom:20px!important;}
.am-slider-default{margin-bottom:0!important;}
.layui-laydate .layui-this { background-color: #e50012 !important; }
.link_select select { margin-right: 5px; width: 160px; padding: 6px;}

