body {
    --g_body:#fff;
    --g_body_bg:#fff;
    --g_body_bg_opacity:rgba(47,49,48,0.7);
    --g_body_on:#fff;
    --g_body_color:#B5B5B5;
    --g_body_font_size:14px;
    --g_color: #000;
    --g_on: #f74769;
    --g_label_bg: #a95806;
    --g_label_color: #fff;
    --g_label_on_bg: #4B4B4B;
    --g_label_on_color: #F3E0BD;
    --g_head_bg:#fff;
    --g_head_color: #000;
    --g_head_border: #fff;
    --g_footer_on_color: #000;
    --g_footer_color: #000;
    --g_footer_border: #fff;
    --g_footer_bg: #fff;
    --g_tip: #E15766;
    --g_err: #FF0034;
    --g_success: #1dd3e1;
    --g_desc: #fafafa;
    --g_title: #E6432D;
    --g_title_on: #25D979;
    --g_title_size: 18px;
    --g_i: #2D5ADB;
    --g_b: #2D5ADB;
    --g_span: #000;
    --g_span1: #000;
    --g_strong: #89919E;
    --g_color:#000;
    --g_cite:#ffc107;
    --g_cite_color:#FFF;
    --g_em: #999;
    --g_em1: #999;
    --g_radio_color: #FC5619;
    --g_checkbox_bg: rgb(0, 0, 0);
    --g_checkbox_bg_on: #fff;
    --g_checkbox_color: #fff;
    --g_checkbox_color_on: rgb(145, 28, 28);
    --g_label_bg: #a95806;
    --g_label_color: #fff;
    --g_label_on_bg: #4B4B4B;
    --g_label_on_color: #F3E0BD;
    --g_swith_bg: rgb(145, 28, 28);
    --g_swith_bg_on: #fff;
    --g_border: #efefef;
    --g_input_color: #000;
    --g_input_bg: #262B3E;
    --g_input_border: #666;
    --g_input_placeholder: #545B68;
    --g_input_placeholder_font_size:14px;
    --g_button_bg: #14b582;
    --g_button_color: #FFF;
    --g_button_bg_on:#14b582;
    --g_button_radius:30px;
    --g_border_color:#666;
    --g_spacing:15px;
    --g_padding:15px;
    --g_padding_left:10px;
    --g_padding_right:10px;
    --g_padding_top: 10px;
    --g_margin_top: 10px;
    --g_radius:5px;
    --g_max_width: 640px;
    --g_box_shadow:0px 0px 8px 0px rgba(37, 37, 37, 0.21);
}