<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="{$seo_desc}">
    <meta name="keywords" content="{$seo_keywords}">
    <title>{$web_name}</title>
    <link rel="stylesheet" type="text/css" href="{__CSS__}theme.css">
    <link rel="stylesheet" type="text/css" href="{__CSS__}fonts.css">
    <link href="{__JS__}layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{__CSS__}style.css">


    <script src="{__JS__}layui/layui.js"></script>
    <script src="{__JS__}common.js"></script>
    <!--amazeui-->
    <link rel="stylesheet" href="{__JS__}amazeui/css/amazeui.min.css">
    <link rel="stylesheet" href="{__JS__}amazeui/css/app.css">
    <script src="{__JS__}amazeui/js/jquery.min.js"></script>
    <script src="{__JS__}amazeui/js/amazeui.min.js"></script>
</head>
<body>