<div class="nm-header">
    <video src="{__VIDEO__}/2.mp4" class="nm-video" autoplay loop muted></video>
    <div class="head">
         <div class="com_content">
              <div class="logo">
                  <a href="/">
                       <img src="{$logo_image}"/>
                  </a>
              </div>
                <div class="navs">


                     <div class="div">
                          <a href="/"><span>首页</span></a>
                     </div>
                     <div class="div sub">
                          <a href="/source"><span>项目</span> <i class="div_i">&#xe649;</i></a>
                         <div class="sub_menu">
                                {foreach $SourceCate as $key=>$vo} 
                                  <div><a href="/source?cate_id={$vo.id}"><span>{$vo.title}</span></a></div>
                                {/foreach}  
                         </div>
                     </div>
      

                    

                     <div class="div sub">
                          <a href="/news"><span>关于我们</span> <i class="div_i">&#xe649;</i></a>
                         <div class="sub_menu">
                                {foreach $CmsArticleCate as $key=>$vo} 
                                   <div><a href="/news?cate_id={$vo.id}"><span>{$vo.title}</span></a></div>
                                {/foreach}  
                         </div>
                     </div>
                    <div class="div sub">
                          <a href="/news"><span>客服</span> <i class="div_i">&#xe649;</i></a>
                         <div class="sub_menu">
                              <div><a href="https://t.me/vx1688" target="_bank"><span>Telegram 客服</span></a></div>
                               <div><a href="https://wa.me/8562093536334" target="_bank"><span>Whatsapp 客服</span></a></div>
                         </div>
                     </div>



                </div>
         </div>
    </div>