{foreach $CmsArticle_data as $k=>$v } 
    {if $v}
        <div class="news_list_info_category">
            <div class="nc">
                <div class="t"><span>  {$v[0]['nav_title']}</span></div>
                <div class="c">
                        {foreach $v as $k1=>$v1 } 
                            <div class="div">
                                <a href="/news/info?id={$v1.id}">
                                      <span>{$v1.title}</span>
                                      <div><i>&#xe940;</i><em>{$v1.created_at|date='Y-m-d'}</em></div>
                                </a>
                             </div>
                        {/foreach}
                </div>
            </div>
        </div>
        {/if}
{/foreach}