
{include file="public/base" /}
{include file="public/head" /}


 <div class="banner_serach">
        <div class="com_content">
              <div class="com">
                   <div class="t">
                       <p><strong>搜索本站精品源码</strong></p>
                       <p><em>本站所有源码均为高质量源码，各种姿势下载。</em></p>
                   </div>
                    <div class="c">
                       <div class="input">
                             <form method="get" action="/search">
                                  <div><input  type="text"  name="keywords" value="" placeholder="请输入关键字"/></div>
                                  <div> <button type="submit"><span>搜索</span></button></div>
                              </form>
                       </div>
                    </div>
              </div>
        </div>
    </div>


    <div class="div_tongij">
        <div class="com_content">
            <div class="com">
                  <div class="c">
                       <div class="tongji">
                              <div class="on"><i>&#xe79a;</i><span>大地源码统计</span></div>
                              <div><em>源码总数</em><cite>{$tongji.total_source}</cite><em>个</em></div>
                              <div><em>稳定运行</em><cite>{$tongji.days}</cite><em>天</em></div>
                              <div><em>本周更新</em><cite>{$tongji.toweek_source}</cite><em>个</em></div>
                              <div><em>今日更新</em><cite>{$tongji.today_source}</cite><em>个</em></div>
                       </div>
                  </div>
            </div>
        </div>
    </div>


        <div class="div_tongij1">
            <div class="com_content">
                    <div class="com">
                        <div class="am-g">

                                {foreach $SourceCate as $key=>$vo} 
                                   <div class="am-u-sm-6 am-u-md-3 am-u-lg-3">
                                      <div class="item">
                                          <div>
                                              <a href="/source?cate_id={$vo.id}">
                                                    <div class="t">
                                                       <p><strong>{$vo.title}</strong></p>
                                                       <p><em>{$vo.keywords}</em></p>
                                                   </div>
                                                    <div class="c">
                                                         <div class="imgs">
                                                             <img src="{$logo_image}"/>
                                                             <img src="{$logo_image}"/>
                                                             <img src="{$logo_image}"/>
                                                         </div>
                                                          <span>+0</span>
                                                    </div>

                                              </a>
                                          </div>
                                      </div>
                                  </div>
                             {/foreach}  


                       </div>
                 </div>
            </div>
        </div>


    <div class="div_product">
        <div class="com_content">
             <div class="com">

                   {foreach $SourceCode_data as $k=>$v} 
                       {if $v}
                               <div style="padding:0 5px; overflow:hidden">
                                    <div class="ct fn_border_b fn_pdb15"> 
                                            <span> {$v[0]['nav_title']} </span>
                                            <a href="/source?cate_id={$v[0]['nav_id']}"> <em>更多</em></a>
                                    </div>
                               </div>
                            <div class="am-g">
                              {foreach $v as $k1=>$v1} 
                                <div class="am-u-sm-6 am-u-md-3 am-u-lg-3">
                                   <div class="item">
                                        <div>
                                            <a href="/source/info?id={$v1.id}">
                                                    <div class="img">
                                                        <img src="{$v1.thumb}"/>
                                                    </div>
                                                    <div class="info">
                                                        <p><em>{$v1['nav_title']}</em></p>
                                                        <p><span>{$v1['title']}</span></p>
                                                    </div>
                                                     <div class="bottom">
                                                          <div class="div"><div><i>&#xe940;</i><span>{$v1['created_at']|date='Y-m-d'}</span></div></div>
                                                          <div class="div"><div><i>&#xe612;</i><span>{$v1['read']}</span></div></div>
                                                     </div> 
                                            </a>
                                        </div>
                                   </div>
                              </div>
                             {/foreach}  
                        </div>
                    {/if}
                 {/foreach}  
             </div>
        </div>
    </div>

    <div class="div_news">
        <div class="com_content">
            <div class="com">

                        <div class="am-g">
                           {foreach $CmsArticle_data as $k=>$v} 
                              {if $v}
                              <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                               <div class="item">
                                    <div>

                                         <div class="t">
                                               <p><a href="/news?cate_id={$v[0]['nav_id']}"><span>{$v[0]['nav_title']}</span></a></p>
                                               <p><em>{$v[0]['nav_desc']}</em></p>
                                         </div>

                                             <div class="c">
                                                   {foreach $v as $k1=>$v1} 
                                                    <div class="div">
                                                       <div>
                                                             <a href="news/info?id={$v1.id}">
                                                                  <cite>{$k1+1}</cite>
                                                                  <span>{$v1.title}</span>
                                                                  <div>
                                                                      <b>
                                                                        <i>&#xe723;</i>
                                                                        <em>{$v1.read}</em>
                                                                      </b>
                                                                      <b>
                                                                        <i>&#xe940;</i>
                                                                        <em>{$v1.created_at|date='Y-m-d'}</em>
                                                                      </b>
                                                                  </div>
                                                             </a>
                                                       </div>
                                                  </div>
                                                 {/foreach} 
                                             </div>


                                    </div>
                               </div>
                          </div>
                            {/if}
                         {/foreach}
                        </div>

            </div>
        </div>
    </div>



    <div class="open_vip">
        <div class="com_content">
            <div class="com">
               <div class="c">
                   <p><strong> 大地源码VIP永久只需298元，下载全站100%资源 </strong></p>
                   <p><cite>加入VIP</cite></p>
               </div>
            </div>
        </div>
    </div>

{include file="public/footer" /}
