
{include file="public/base" /}
{include file="public/head" /}


<div class="news_list_info">
    <div class="com_content">
        <div class="com">


                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-8 am-u-lg-8">
                        
                        <div class="com_left">
                                <div class="daohang">
                                        <ol class="am-breadcrumb">
                                                <li><a href="/" class="am-icon-home">首页</a></li>
                                                <li><a href="/news?cate_id={$nav.id}">{$nav.title}</a></li>
                                                <li class="am-active">{$data.title}</li>
                                        </ol>
                                </div>
                               <div class="t">{$data.title}</div>
                               <div class="t1"><span>时间：{$data.created_at}</span><em>阅读：{$data.read}</em></div>
                              <div class="c"><?php echo $data['md_content']; ?> </div>
                              
                               <div class="shangxia">
                                      <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                        <div class="div">
                                     
                                                   <span>上一篇：</span>
                                                    {if $previousData}
                                                        <a href="/news?cate_id={$previousData.id}">
                                                           <cite>公群交易注意事项</cite>
                                                        </a>
                                                      {else/}
                                                     <cite>没有了</cite>
                                                     {/if}
                                           </div>
                                      </div>
                                      <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                          <div class="div">
                                                   <span>下一篇：</span>
                                                    {if $nextData}
                                                        <a href="/news?cate_id={$nextData.id}">
                                                           <cite>公群交易注意事项</cite>
                                                        </a>
                                                      {else/}
                                                     <cite>没有了</cite>
                                                     {/if}

                                          </div>
                                      </div> 
                               </div>
                               
                               
                               
                        </div>

                    </div>
                    <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
                            <div class="com_right am-padding-left-lg  am-padding-left-md">
                                      {include file="public/news_right" /}
                            </div>
                    </div>
                </div>


        </div>
    </div>
</div>


{include file="public/footer" /}
