
{include file="public/base" /}
{include file="public/head" /}

<div class="news_list_info">
    <div class="com_content">
        <div class="com">

                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                        

                


                            <div class="com_left">

                                    <div class="daohang">
                                            <ol class="am-breadcrumb">
                                                    <li><a href="/" class="am-icon-home">首页</a></li>
                                                    <li><a href="/source?cate_id={$nav.id}">{$nav.title}</a></li>
                                                    <li class="am-active">{$data.title}</li>
                                            </ol>
                                    </div>

                                
                          <div class="div_download">
                                     <div class="am-g">
                                      <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
                                            <div class="div_download_img">
                                            <img src="{$data.thumb}"/>
                                            </div>
                                      </div>
                                      <div class="am-u-sm-12 am-u-md-8 am-u-lg-8">
                                          <div class="div_download_info">
                                            <div class="t">{$data.title}</div>
                                        <div class="info_c">
                                            <div class="div"><span>源码分类：{$data.type}</span></div>
                                            <div class="div"><span>开发语言：{$data.lang}</span></div>
                                            <div class="div"><span>系统品牌：{$data.system_brand}</span></div>
                                            <div class="div"><span>数据库：{$data.dbtype}</span></div>
                                        </div>
                                        <div class="tip"><span>请勿商业运营,违法使用和传播!仅供研究学习使用!</span></div>
                                        <div class="btn">
                                            <div class="div">
                                                <div><a href="{$data.download_url}" target="_blank"><i>&#xe784;</i><span>演示</span></a></div>
                                            </div>
                                        </div>
                                        </div>
                                      </div>
                                    </div>
                             </div>

        

                                   <!--<div class="t">{$data.title}</div>-->
                               
                                  <div class="c"><?php echo $data['content']; ?> </div>
                            </div>




                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                            <div class="com_right am-padding-left-lg  am-padding-left-md">
                                  {include file="public/news_right" /}
                            </div>
                    </div>
                </div>


        </div>
    </div>
</div>


{include file="public/footer" /}
