<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
    <link rel="stylesheet" href="/app/admin/component/pear/css/pear.css" />
    <link rel="stylesheet" href="/app/admin/admin/css/reset.css" />
</head>
<body>

<form class="layui-form" action="">

    <div class="mainBox">
        <div class="main-container mr-5">
            <div class="layui-form-item">
                <label class="layui-form-label required">文章标题</label>
                <div class="layui-input-block">
                    <input type="text" name="title" value="" required lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-card-body layui-row layui-col-space10">
                    <label class="layui-form-label required">文章分类</label>
                    <div class="layui-col-md4">
                        <div name="cate_id" id="cate_id" value="" ></div>
                    </div>
                    <label class="layui-form-label required">状态</label>
                    <div class="layui-col-md4">
                        <input type="radio" name="status" value="1" title="正常" checked >
                        <input type="radio" name="status" value="-1" title="下架" >
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-card-body layui-row layui-col-space10">
                  <label class="layui-form-label">排序</label>
                  <div class="layui-col-md4">
                    <input type="number" name="sort" value="0" class="layui-input">
                  </div>
                    <label class="layui-form-label required">首页显示</label>
                    <div class="layui-col-md4">
                        <input type="radio" name="is_home" value="1" title="是" checked >
                        <input type="radio" name="is_home" value="0" title="否" >
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-card-body layui-row layui-col-space10">
                    <label class="layui-form-label">文章属性</label>
                    <div class="layui-col-md4">
                        <select name="type" lay-verify="">
                            <option value="">请选择文章属性</option>
                            <option value="1">精华</option>
                            <option value="2">热门</option>
                            <option value="3">推荐</option>
                        </select>
                    </div>
                    <label class="layui-form-label ">是否原创</label>
                    <div class="layui-col-md4">
                        <input type="radio" name="original" value="1" title="是" checked >
                        <input type="radio" name="original" value="0" title="否" >
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-card-body layui-row layui-col-space10">
                    <label class="layui-form-label">作者/来源</label>
                    <div class="layui-col-md4">
                        <input type="text" name="origin" value=""  class="layui-input">
                    </div>
                    <label class="layui-form-label ">来源地址</label>
                    <div class="layui-col-md4">
                        <input type="text" name="origin_url" value="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-card-body layui-row layui-col-space10">
                <label class="layui-form-label ">文章摘要</label>
                <div class="layui-col-md4">
                    <textarea type="text" name="content" value=""  class="layui-input" rows="8" style="min-height: 50px"></textarea>
                </div>
                  <label class="layui-form-label  required">封面图</label>
                    <div class="layui-col-md4">
                        <img class="img-3" src=""/>
                        <input type="text" style="display:none" name="thumb" value=""  lay-verify="required"/>
                        <button type="button" class="pear-btn pear-btn-primary pear-btn-sm" id="avatar" permission="app.admin.upload.avatar">
                            <i class="layui-icon layui-icon-upload"></i>上传图片
                        </button>
                        <button type="button" class="pear-btn pear-btn-primary pear-btn-sm" id="attachment-choose-avatar" permission="app.admin.upload.attachment">
                            <i class="layui-icon layui-icon-align-left"></i>选择图片
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-top: 10px;">
                <div class="layui-card-header">文章内容</div>
                <div class="layui-card-body layui-row layui-col-space10">
                    <div class="layui-col-md12">
                        <textarea name="" id="md_content" cols="30" rows="10"></textarea>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-md" lay-submit=""
                    lay-filter="save">
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-md">
                重置
            </button>
        </div>
    </div>

</form>

<script src="/app/admin/component/layui/layui.js"></script>
<script src="/app/admin/component/pear/pear.js"></script>
<script src="/app/admin/admin/js/permission.js"></script>
<script>

    // 相关接口
    const INSERT_API = "/app/lucSource/admin/article/insert";
    const CATE_API = "/app/lucSource/admin/articleCate/select?limit=5000";

    layui.use(['tinymce', 'util', 'layer','code','element'], function() {

    });
    // 字段 文章分类
    layui.use(["jquery", "xmSelect", "popup"], function() {
        layui.$.ajax({
            url: CATE_API,
            dataType: "json",
            success: function (res) {
                let value = layui.$("#cate_id").attr("value");
                let initValue = value ? value.split(",") : [];
                // 赋值表单
                let  p = [];
               // p.push({value:0,name:'请选择分类'})
                layui.each(res.data, function (key, value) {
                    p.push({value:value.id,name:value.title})
                });
                layui.xmSelect.render({
                    el: "#cate_id",
                    name: "cate_id",
                    initValue: initValue,
                    data: p,
                    model: {"icon":"hidden","label":{"type":"text"}},
                    clickClose: true,
                    radio: true,
                });
                if (res.code) {
                    layui.popup.failure(res.msg);
                }
            }
        });
    });
    // 字段 头像 avatar
    layui.use(["upload", "layer"], function() {
        let input = layui.$("#avatar").prev();
        input.prev().attr("src", input.val());
        layui.$("#attachment-choose-avatar").on("click", function() {
            parent.layer.open({
                type: 2,
                title: "选择附件",
                content: "/app/admin/upload/attachment?ext=jpg,jpeg,png,gif,bmp",
                area: ["95%", "90%"],
                success: function (layero, index) {
                    parent.layui.$("#layui-layer" + index).data("callback", function (data) {
                        input.val(data.url).prev().attr("src", data.url);
                    });
                }
            });
        });
        layui.upload.render({
            elem: "#avatar",
            url: "/app/admin/upload/avatar",
            acceptMime: "image/gif,image/jpeg,image/jpg,image/png",
            field: "__file__",
            done: function (res) {
                if (res.code > 0) return layui.layer.msg(res.msg);
                this.item.prev().val(res.data.url).prev().attr("src", res.data.url);
            }
        });
    });
    //提交事件
    layui.use(["form", "popup",'tinymce', 'util', 'layer','code','element'], function () {
        var tinymce = layui.tinymce
        var util = layui.util;

        layui.code();

        let edit = tinymce.render({
            elem: "#md_content",
            height: 400,
            images_upload_url:'/app/lucSource/admin/upload/timeImage'

        });
        layui.form.on("submit(save)", function (data) {
            if(data.field.type ==''){
                data.field.type=0;
            }
            data.field.md_content=edit.getContent();
            layui.$.ajax({
                url: INSERT_API,
                type: "POST",
                dateType: "json",
                data: data.field,
                success: function (res) {
                    if (res.code) {
                        return layui.popup.failure(res.msg);
                    }
                    return layui.popup.success("操作成功", function () {
                        parent.refreshTable();
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });

    });

</script>

</body>
</html>
