<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>新增页面</title>
  <link rel="stylesheet" href="/app/admin/component/pear/css/pear.css" />
  <link rel="stylesheet" href="/app/admin/admin/css/reset.css" />
</head>
<body>

<form class="layui-form" action="">

  <div class="mainBox">
    <div class="main-container mr-5">

      <div class="layui-form-item">
        <label class="layui-form-label required">标题</label>
        <div class="layui-input-block">
          <input type="text" name="title" value="" required lay-verify="required" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label required">标识</label>
        <div class="layui-input-block">
          <input type="text" name="name" value="" required lay-verify="required" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
          <input type="checkbox" id="status" lay-filter="status" lay-skin="switch" />
          <input type="text" style="display:none" name="status" value="0" />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label ">备注</label>
        <div class="layui-input-block">
          <textarea type="text" name="desc" value=""  class="layui-input"></textarea>
        </div>
      </div>

    </div>
  </div>

  <div class="bottom">
    <div class="button-container">
      <button type="submit" class="pear-btn pear-btn-primary pear-btn-md" lay-submit=""
              lay-filter="save">
        提交
      </button>
      <button type="reset" class="pear-btn pear-btn-md">
        重置
      </button>
    </div>
  </div>

</form>

<script src="/app/admin/component/layui/layui.js"></script>
<script src="/app/admin/component/pear/pear.js"></script>
<script src="/app/admin/admin/js/permission.js"></script>
<script>

  // 相关接口
  const INSERT_API = "/app/lucSource/admin/nav/insert";

  // 字段 禁用 status
  layui.use(["form"], function() {
    layui.$("#status").attr("checked", layui.$('input[name="status"]').val() != 0);
    layui.form.render();
    layui.form.on("switch(status)", function(data) {
      layui.$('input[name="status"]').val(this.checked ? 1 : -1);
    });
  })

  //提交事件
  layui.use(["form", "popup"], function () {
    layui.form.on("submit(save)", function (data) {
      if(data.field.status ==0){
        data.field.status=-1
      }
      layui.$.ajax({
        url: INSERT_API,
        type: "POST",
        dateType: "json",
        data: data.field,
        success: function (res) {
          if (res.code) {
            return layui.popup.failure(res.msg);
          }
          return layui.popup.success("操作成功", function () {
            parent.refreshTable();
            parent.layer.close(parent.layer.getFrameIndex(window.name));
          });
        }
      });
      return false;
    });
  });

</script>

</body>
</html>
