
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/app/admin/component/pear/css/pear.css" />
    <link rel="stylesheet" href="/app/admin/admin/css/reset.css" />
</head>
<body class="pear-container">

<!-- 数据表格 -->
<div class="layui-card">
    <div class="layui-card-body">
        <table id="data-table" lay-filter="data-table"></table>
    </div>
</div>

<!-- 表格顶部工具栏 -->
<script type="text/html" id="table-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add" permission="app.lucSource.admin.nav.infoInsert">
        <i class="layui-icon layui-icon-add-1"></i>新增
    </button>
</script>

<!-- 表格行工具栏 -->
<script type="text/html" id="table-bar">
    <button class="pear-btn pear-btn-xs tool-btn" lay-event="edit" permission="app.lucSource.admin.nav.infoUpdate">编辑</button>
    <button class="pear-btn pear-btn-xs tool-btn" lay-event="remove" permission="app.lucSource.admin.nav.infoDelete">删除</button>
</script>

<script src="/app/admin/component/layui/layui.js"></script>
<script src="/app/admin/component/pear/pear.js"></script>
<script src="/app/admin/admin/js/permission.js"></script>
<script src="/app/admin/admin/js/common.js"></script>

<script>

    // 相关常量
    const PRIMARY_KEY = "id";
    const SELECT_API = "/app/lucSource/admin/nav/infoSelect";
    const DELETE_API = "/app/lucSource/admin/nav/infoDelete";
    const UPDATE_API = "/app/lucSource/admin/nav/infoUpdate";
    const INSERT_URL = "/app/lucSource/admin/nav/infoInsert";
    const UPDATE_URL = "/app/lucSource/admin/nav/infoUpdate";

    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    let request = new Object();
    request = GetRequest();
    const nav_id=request.id

    // 表格渲染
    layui.use(["table", "treetable", "form", "common", "popup", "util"], function() {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.$;
        let common = layui.common;
        let treeTable = layui.treetable;
        let util = layui.util;

        // 表格头部列数据
        let cols = [
            {
                title: "主键",
                field: "id",
            },
            {
                title: "名称",
                field: "title",
            },{
                title: "上级导航",
                field: "pid",
                hide: true,
                templet: function (d) {
                    let field = "pid";
                    if (typeof d[field] == "undefined") return "";

                }
            },
            {
                title: "父级",
                field: "pid",
            },{
                title: "打开方式",
                field: "target",
                templet: function (d) {
                    let value = d["target"];
                    let text = ["当前窗口", "新窗口"][value];
                    return '<span class="layui-badge ">'+text+'</span>';
                }
            },{
                title: "更新时间",
                field: "updated_at",
                hide: true,
            },{
                title: "url",
                field: "src",
            },{
                title: "排序",
                field: "sort",
                width: 80,
            },
            {
                title: "状态",
                field: "status",
                templet: function (d) {
                    let field = "status";
                    form.on("switch("+field+")", function (data) {
                        let load = layer.load();
                        let postData = {};
                        postData[field] = data.elem.checked ? 1 : -1;
                        postData[PRIMARY_KEY] = this.value;
                        $.post(UPDATE_API, postData, function (res) {
                            layer.close(load);
                            if (res.code) {
                                return layui.popup.failure(res.msg, function () {
                                    data.elem.checked = !data.elem.checked;
                                    form.render();
                                });
                            }
                            return layui.popup.success("操作成功");
                        })
                    });
                    let checked = d[field] === 1 ? "checked" : "";
                    return '<input type="checkbox" value="'+util.escape(d[PRIMARY_KEY])+'" lay-filter="'+util.escape(field)+'" lay-skin="switch" lay-text="'+util.escape('')+'" '+checked+'/>';
                }
            },{
                title: "操作",
                toolbar: "#table-bar",
                align: "center",
                fixed: "right",
                width: 130,
            }
        ];
        // 获取下拉菜单及树形组件数据
        render();

        // 渲染表格
        function render()
        {
            treeTable.render({
                elem: "#data-table",
                url: SELECT_API,
                where:{nav_id:nav_id},
                treeColIndex: 1,
                treeIdName: "id",
                treePidName: "pid",
                treeDefaultClose: true,
                cols: [cols],
                skin: "line",
                size: "lg",
                toolbar: "#table-toolbar",
                defaultToolbar: [{
                    title: "刷新",
                    layEvent: "refresh",
                    icon: "layui-icon-refresh",
                }, "filter", "print", "exports"]
            });
        }


        // 删除或编辑行事件
        table.on("tool(data-table)", function(obj) {
            if (obj.event === "remove") {
                remove(obj);
            } else if (obj.event === "edit") {
                edit(obj);
            }
        });

        // 添加 批量删除 刷新事件
        table.on("toolbar(data-table)", function(obj) {
            if (obj.event === "add") {
                add();
            } else if (obj.event === "refresh") {
                refreshTable();
            }
        });

        // 添加行
        let add = function() {
            layer.open({
                type: 2,
                title: "新增导航",
                shade: 0.1,
                area: [common.isModile()?"100%":"520px", common.isModile()?"100%":"520px"],
                content: INSERT_URL+"?nav_id="  + nav_id
            });
        }

        // 编辑行
        let edit = function(obj) {
            let value = obj.data[PRIMARY_KEY];
            layer.open({
                type: 2,
                title: "修改导航",
                shade: 0.1,
                area: [common.isModile()?"100%":"520px", common.isModile()?"100%":"520px"],
                content: UPDATE_URL + "?" + PRIMARY_KEY + "=" + value
            });
        }

        // 删除行
        let remove = function(obj) {
            return doRemove(obj.data[PRIMARY_KEY], obj);
        }


        // 执行删除
        let doRemove = function (ids, obj) {
            let data = {};
            data[PRIMARY_KEY] = ids;
            layer.confirm("确定删除?", {
                icon: 3,
                title: "提示"
            }, function(index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: DELETE_API,
                    data: data,
                    dataType: "json",
                    type: "post",
                    success: function(res) {
                        layer.close(loading);
                        if (res.code) {
                            return layui.popup.failure(res.msg);
                        }
                        return layui.popup.success("操作成功", function () {
                            return obj ? obj.del() : refreshTable();
                        });
                    }
                })
            });
        }

        // 刷新表格
        window.refreshTable = function(param) {
            treeTable.reload("#data-table");
        }
    })

</script>
</body>
</html>
