
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>新增页面</title>
  <link rel="stylesheet" href="/app/admin/component/pear/css/pear.css" />
  <link rel="stylesheet" href="/app/admin/admin/css/reset.css" />
  <style>
    .layui-iconpicker .layui-anim {
      bottom: 42px !important;
      top: inherit !important;
    }
  </style>
</head>
<body>

<form class="layui-form" action="">

  <div class="mainBox">
    <div class="main-container mr-5">

      <div class="layui-form-item">
        <label class="layui-form-label required">导航名称</label>
        <div class="layui-input-block">
          <input type="text" name="title" required lay-verify="required" value="" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label required">上级导航</label>
        <div class="layui-input-block">
          <div name="pid" id="pid" value="0" ></div>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">参数</label>
        <div class="layui-input-block">
          <input type="text" name="param"   value="" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label ">网址链接</label>
        <div class="layui-input-block">
          <input type="text" name="src" value="" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">打开类型</label>
        <div class="layui-input-block">
          <div name="target" id="target" value="0" ></div>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
          <input type="number" name="sort" value="0" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
          <input type="checkbox" id="status" lay-filter="status" lay-skin="switch" />
          <input type="text" style="display:none" name="status" value="1" />
        </div>
      </div>

    </div>
  </div>

  <div class="bottom">
    <div class="button-container">
      <button type="submit" class="pear-btn pear-btn-primary pear-btn-md" lay-submit=""
              lay-filter="save">
        提交
      </button>
      <button type="reset" class="pear-btn pear-btn-md">
        重置
      </button>
    </div>
  </div>
</form>

<script src="/app/admin/component/layui/layui.js"></script>
<script src="/app/admin/component/pear/pear.js"></script>
<script src="/app/admin/admin/js/permission.js"></script>
<script>

  // 接口
  const INSERT_URL = "/app/lucSource/admin/nav/infoInsert";

  function GetRequest() {
    var url = location.search; //获取url中"?"符后的字串
    var theRequest = new Object();
    if (url.indexOf("?") != -1) {
      var str = url.substr(1);
      strs = str.split("&");
      for(var i = 0; i < strs.length; i ++) {
        theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
      }
    }
    return theRequest;
  }
  let request = new Object();
  request = GetRequest();
  const nav_id=request.nav_id
  // 字段 禁用 status
  layui.use(["form"], function() {
    layui.$("#status").attr("checked", layui.$('input[name="status"]').val() != 0);
    layui.form.render();
    layui.form.on("switch(status)", function(data) {
      layui.$('input[name="status"]').val(this.checked ? 1 : -1);
    });
  })
  // 上级菜单
  layui.use(["jquery", "xmSelect", "popup"], function() {
    layui.$.ajax({
      url: "/app/lucSource/admin/nav/infoSelect?format=tree",
      dataType: "json",
      success: function (res) {
        let value = layui.$("#pid").attr("value");
        let initValue = value ? value.split(",") : [];
        layui.xmSelect.render({
          el: "#pid",
          name: "pid",
          initValue: initValue,
          tips: "无",
          toolbar: {show: true, list: ["CLEAR"]},
          data: res.data,
          value: "0",
          model: {"icon":"hidden","label":{"type":"text"}},
          clickClose: true,
          radio: true,
          tree: {show: true,"strict":false,"clickCheck":true,"clickExpand":false},
        });
        if (res.code) {
          return layui.popup.failure(res.msg);
        }
      }
    });
  });

  // 菜单类型下拉列表
  layui.use(["jquery", "xmSelect"], function() {
    let value = layui.$("#target").attr("value");
    let initValue = value ? value.split(",") : [];
    layui.xmSelect.render({
      el: "#target",
      name: "target",
      initValue: initValue,
      data: [{"value":"0","name":"当前窗口"},{"value":"1","name":"新窗口"}],
      value: "1",
      model: {"icon":"hidden","label":{"type":"text"}},
      clickClose: true,
      radio: true,
    })
  });

  // 表单提交事件
  layui.use(["form", "popup"], function () {
    layui.form.on("submit(save)", function (data) {
      if(data.field.pid ==undefined || data.field.pid ==null ||  data.field.pid=='' ){
        data.field.pid=0
      }
      if(data.field.status ==0){
        data.field.status=-1
      }
      data.field.nav_id=nav_id
      layui.$.ajax({
        url: INSERT_URL,
        type: "POST",
        dateType: "json",
        data: data.field,
        success: function (res) {
          if (res.code) {
            return layui.popup.failure(res.msg);
          }
          return layui.popup.success("操作成功", function () {
            parent.refreshTable();
            parent.layer.close(parent.layer.getFrameIndex(window.name));
          });
        }
      });
      return false;
    });
  });

</script>

</body>
</html>
